{block content}
<div class="section-colored text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 n:block=title>Upravit soupravu</h2>
                <hr>
                <input type="button" value="Zpět" class="btn btn-primary" onclick="history.back()">
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <p>* povinné údaje</p>
                        </div>
                        <div class="panel-body">
                            <form n:name=assayMonoForm class=form>
                                <ul n:if="$form->hasErrors()">
                                    <li n:foreach="$form->errors as $error"  style="color: #993838;">{$error}</li>
                                </ul>
                                <p>{label assay_short}<input n:name=assay_short /></p>
                                <p>{label assay_name}<input n:name=assay_name /></p>
                                <p>{label active}<radio n:name=active /></p>
                                <h4>Povolené jednotky:</h4>
                                <p>
                                {foreach $unitsMono as $unitMono}
                                    <label for="unit-{$unitMono->id}"><input type="checkbox" name="allowed_units[]" id="unit-{$unitMono->id}" value="{$unitMono->id}"
                                    {foreach $assayMono->related('calc_allowed_units') as $allowUnit}
                                        {if $allowUnit->unit->id == $unitMono->id}  checked="checked" {/if}
                                    {/foreach} /> {$unitMono->unit_name}</label><br>
                                {/foreach}
                                <h4>Povolené  ředění vzorku:</h4>
                                <p>
                                {foreach $dilutions as $dilution}
                                    <label for="dilution-{$dilution->id}"><input type="checkbox" name="allowed_dilutions[]" id="dilution-{$dilution->id}" value="{$dilution->id}"
                                    {foreach $assayMono->related('calc_allowed_dilutions') as $allowDilution}
                                        {if $allowDilution->dilutions->id == $dilution->id}  checked="checked" {/if}
                                    {/foreach} /> {$dilution->sample_type}</label><br>
                                {/foreach}
                                </p>
                                <p>{label notice}<textarea n:name=notice></textarea></p>
                                <p><input n:name=send class="btn btn-primary"></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>